<mat-toolbar color="primary">
  <span>Angular + Material Seed Project</span>
</mat-toolbar>
<mat-sidenav-container>
  <!--
    mat-sidenav #start>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['about']">About</a>
        <a mat-list-item [routerLink]="['demo']">Demo</a>
      </mat-nav-list>
      <button mat-button (click)="start.close()">CLOSE</button>
    </mat-sidenav
  -->
  <mat-sidenav
    mode="side"
    opened
    style="height:100%;"
    fxLayout="row"
    fxLayoutGap="20px"
  >
    <mat-list fxLayout="row" fxLayoutAlign="start center">
      <mat-list-item>
        <button mat-raised-button color="primary" [routerLink]="['about']">
          About
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="primary" [routerLink]="['demo']">
          Demo
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="row" fxLayoutGap="20px">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
